@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: Roboto, serif;
  background: linear-gradient(90deg, #f8b5d9 0%, #cb5476 100%);
}
.nav-link {
  color: #fdb9c1;
}
.navbar-nav .nav-link.active {
  color: #e44d74;
}
.nav-link:hover {
  color: #e44d74;
}
.navbar-brand img {
  width: 35px;
}

.navbar-toggler {
  background-color: #eebcde;
  border-color: #f43665;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10'");
}
.sidebar {
  color: aliceblue;
  background: linear-gradient(270deg, #eb9cc6 0%, #cb5476 100%);
}
a {
  text-decoration: none;
  color: #f499b0;
}
a:link {
  color: #f43665;
}
a:hover {
  color: #9b2946;
}
.card {
  background: linear-gradient(270deg, #eb9cc6 0%, #cb5476 100%);
  color: aliceblue;
  text-align: center;
  border-color: aliceblue;
}
.btn.btn-primary {
  background-color: #eb9cc6;
  border-color: #db4369;
  color: #db4369;
  margin: 0 auto;
  display: block;
  width: 70px;
}
.btn.btn-primary:hover {
  background-color: #db4369;
  border-color: aliceblue;
  color: aliceblue;
}
.slide-text {
  color: aliceblue;
  margin: auto;
  padding-right: 5em;
}
.footer-text {
  color: aliceblue;
  margin: auto auto;
}
footer {
  background: linear-gradient(270deg, #eb9cc6 0%, #cb5476 100%);
}
.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-text {
  color: #db4369;
  font-size: 23px;
}
.call-anim {
  animation: call 2s ease 0s infinite normal forwards;
}
@keyframes call {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.btn-outline-light {
  background: linear-gradient(270deg, #eb9cc6 0%, #cb5476 100%);
}
.btn.btn-outline-light:hover {
  color: #9b2946;
}
.carousel-inner {
  height: 420px;
}
@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}
